*{
    margin: 0;
}

.flexContainer{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.leftTabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    height: 900px;
    list-style-type: none;
    background-color: #005392;
    border: 1px solid black;
    border: none;
    padding-left: 0px;
    width: 70px;
}

.leftTabs li {
    width: 40px;
    height: 40px;
    margin: 10px;
    display: block;
    color: white; 
    background-color:white;
}

.leftTabs li:nth-child(1){
    text-align: center;
    height: 60px;
    width: 100%;
    font-size: 40px;
    margin-top: 0px;
    padding-top: 10px;
    color: white; 
    background-color: black;
    } 

.leftTabs li:nth-child(2){ 
    margin-top: 50px; 
    -webkit-mask: url(/img/add.svg) no-repeat 50% 50%;
    mask: url(/img/add.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;    
}   

.leftTabs li:nth-child(3) {
    margin-top: 15px;  
    -webkit-mask: url(/img/search.svg) no-repeat 50% 50%;
    mask: url(/img/search.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;    
}

.leftTabs li:nth-child(4) { 
    margin-top: 15px; 
    -webkit-mask: url(/img/favourite.svg) no-repeat 50% 50%;
    mask: url(/img/favourite.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    }

.leftTabs li:nth-child(5) {  
    margin-top: 15px; 
    -webkit-mask: url(/img/print.svg) no-repeat 50% 50%;
    mask: url(/img/print.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.leftTabs li:nth-child(6) { 
    margin-top: 15px;  
    -webkit-mask: url(/img/settings.svg) no-repeat 50% 50%;
    mask: url(/img/settings.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    }

.leftTabs li:nth-child(7) {  
    margin-top: 15px;
    -webkit-mask: url(/img/analytics.svg) no-repeat 50% 50%;
    mask: url(/img/analytics.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    }

.page-tool-box {
    flex: 1;
    width: 190px;
    align-items: center;
    list-style-type: none;
    border: none;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    padding-left: 0px;
    box-shadow: 3px 3px 5px #ccc;
}

.page-tool-box li{
    display: block;
    min-height: 90px;
    padding: 15px; 
    border-bottom: 3px solid lightgray;
}

.note-list {
    flex: 1;
    width: 190px;
    align-items: center;
    list-style-type: none;
    border: none;
    background-color: #ebebeb;
    font-family: 'Open Sans', sans-serif;
    padding-left: 0px;
    box-shadow: 3px 3px 5px #ccc;
    }

.note-list li{
    display: block;
    height: 90px;
    padding: 15px; 
    border-bottom: 3px solid lightgray;
    overflow: hidden;
}

.note-list li h1{
    padding-bottom: 5px;
}

.note-list li p{
    font-size: 16px;
}

#editor{
    flex:1;
    padding-top: 10px;
    height: 380px;
    margin: 0 auto;
    width: 700px;          
    } 

#note {
    border: 1px solid darkgray; 
    margin-left: 30px;
}

#title{
    border: none;
    height: 60px;
    font-size: 20px;
    padding-left: 15px;
}

#searchNotes{
    display: none;
} 

<<<<<<< HEAD
=======
#tabbed-content .panel.active {
    display: block;
}
<<<<<<< HEAD
>>>>>>> origin

=======
>>>>>>> anna-dev
