* {
  margin: 0;
}

body {
  --accent-color: orangered;
  --background-color: white;
  --text-color: black;
  --button-text-color: var(--background-color);
  --transition-delay: 2s;
  transition: background-color var(--transition-delay);
  background-color: var(--background-color);
  color: var(--text-color);
}

/* --- RESPONSIVE TWEAKS */
.flexContainer {
  /* display: flex; */
  /* justify-content: left;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow: auto; */
  height: 100%;
  margin-left: 60px;
}

/* --- RESPONSIVE TWEAKS */

.leftTabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  cursor: pointer;

  overflow-x: hidden;
  list-style-type: none;
  background-color: #005392;
  border: none;
  padding-left: 0px;
  width: 70px;
  float: left;
}

.leftTabs li {
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 10px;
  display: block;
  background-color: white;
}

.leftTabs li:nth-child(1) {
  text-align: center;
  height: 60px;
  width: 100%;
  margin-top: 0px;
  padding-top: 10px;
  color: white;
  background-color: black;
  font-family: 'Libre Baskerville', serif;
  font-size: 40px;
}

.leftTabs li:nth-child(2) {
  margin-top: 50px;
  height: 50px;
  -webkit-mask: url(/img/add.svg) no-repeat 50% 50%;
  mask: url(/img/add.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.leftTabs li:nth-child(3) {
  margin-top: 15px;
  -webkit-mask: url(/img/favourite.svg) no-repeat 50% 50%;
  mask: url(/img/favourite.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.leftTabs li:nth-child(4) {
  margin-top: 15px;
  -webkit-mask: url(/img/print.svg) no-repeat 50% 50%;
  mask: url(/img/print.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.leftTabs li:nth-child(5) {
  margin-top: 15px;
  -webkit-mask: url(/img/settings.svg) no-repeat 50% 50%;
  mask: url(/img/settings.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.leftTabs li:hover {
	padding: 5px;
  display: inline-block;
  background-color: lightgray;
  transform: none;
  /*transition: var(--transition-delay);*/
}

.leftTabs li:active {
  background-color: lightgray;
}

.leftTabs li:focus {
  border: none;
  background-color: lightgray;
}


.search {
  width: 158px;
  height: 30px;
  border: 0.5px solid black; 
  border-radius: 3px; 
  background-color: white;
  background-image: url(/img/searchicon.png);
  background-repeat: no-repeat;
  background-position: 132px;
  background-size: 23px;
  margin-left: 5px;
  }

  /* .search > input::placeholder {
    margin-left: 30px;
  }

 */


/* --- _ SEARCH BUTTON STYLING */
/* .searchNotes > input {
  width: 50%;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("/img/searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
 */
/* --- RESPONSIVE TWEAKS */
@media only screen and (max-width: 900px) {
  /* For mobile phones: */
  .notesList {
    width: calc(100% - 10px) !important; /* display: block; */
  }
  .note-list > li {
    height: 45px !important;
  }
  .noteContainer {
    margin: 5px !important;
    width: calc(100% - 10px) !important;
  }
  #editor {
    width: 95% !important;
    height: 100% !important;
  }
}

@media only screen and (max-width: 700px) {
  /* For mobile phones: */
    .notesList {
      width: calc(100% - 10px) !important; /* display: block; */
    }
    .note-list > li {
      height: 45px !important;
    }
    .noteContainer {
      margin: 5px !important;
      width: calc(100% - 10px) !important;
    }
    #editor {
      width: 95% !important;
      height: 100% !important;
    }

  .leftTabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;

    overflow-x: hidden;
    list-style-type: none;
    background-color: #005392;
    border: 1px solid black;
    border: none;
    padding-left: 0px;
  }

  .leftTabs li {
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 0px;
    display: block;
    color: white;
    background-color: white;
  }

  .leftTabs li:nth-child(1) {
    text-align: center;
    height: 60px;
    width: 60px;
    font-size: 40px;
    margin-top: 0px;
    padding-top: 10px;
    color: white;
    background-color: black;
    font-family: 'Libre Baskerville', serif;
  }

  .leftTabs li:nth-child(2) {
    margin-top: 15px;
    -webkit-mask: url(/img/add.svg) no-repeat 50% 50%;
    mask: url(/img/add.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
  }

  .page-tool-box {
    flex: 1;
    /* width: 190px; */
    align-items: center;
    list-style-type: none;
    border: none;
    background-color: white;
    font-family: "Open Sans", sans-serif;
    padding-left: 0px;
    box-shadow: 3px 3px 5px #ccc;
    padding: 15px;
    margin-top: 70px;
    transition: background-color var(--transition-delay);
    background-color: var(--background-color);
    color: var(--text-color);
    } 

  .flexContainer {
    /* display: flex; */
    /* justify-content: left;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: auto; */
    margin-left: 0px;
  }

}


/* ---END OF  RESPONSIVE TWEAKS */

.notesList {
  float: left;
  width: 190px;
}
/* hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh */




 /*  width: 50%;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("/img/searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-top: 10px;
  margin-bottom: 10px; */

.page-tool-box {
  flex: 1;
  /* width: 190px; */
  align-items: center;
  list-style-type: none;
  border: none;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  padding-left: 0px;
  box-shadow: 3px 3px 5px #ccc;
  padding: 15px;
  transition: background-color var(--transition-delay);
  background-color: var(--background-color);
  color: var(--text-color);
}

.page-tool-box li {
  display: block;
  min-height: 90px;
  padding: 15px;
  border-bottom: 3px solid lightgray;
}

.note-list {
  flex: 1;
  /* width: 190px; */
  align-items: center;
  list-style-type: none;
  border: none;
  background-color: #ebebeb;
  font-family: "Open Sans", sans-serif;
  padding-left: 0px;
  box-shadow: 3px 3px 5px #ccc;
  transition: background-color var(--transition-delay);
  /*background-color: var(--background-color);*/
  color: var(--text-color);
}

.note-list > li {
  display: block;
  position: relative;
  height: 90px;
  padding: 15px;
  border-bottom: 3px solid lightgray;
  cursor: pointer;
  overflow: hidden;
}


.note-list > li:hover {
  background-color: white;
  color: black;
  text-overflow: ellipsis;
   }


.active, .note-list > li:hover {
  background-color: #d7ecf7;
  color: black;
  text-overflow: ellipsis;
}

.noteTitle {
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 5px;
  width: 14ch;
}

.noteDate {
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.noteEditorData {
  font-size: 14px;
  margin-left: 5px;
  margin-bottom: 5px;
  width: 20ch;
}

/*
#tabbed-content li {
  display: inline-block;
  padding: 10px 14px;
  background: #ddd;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

#tabbed-content .panel {
  display: none;
  border: 1px solid #ddd;
  padding: 0 10px;
  border-radius: 4px;
} 

#tabbed-content .panel.active {
  display: block;
}

/* CK editor styling */

.noteContainer {
  margin-left: 30px;
  /* display: block; */
  width: 70%;
  float: left;
}



.noteContainer input[type="submit"] {
  background-color: #005392;
  color: white;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 16px;
  margin-top: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1;
  position: absolute;
  right: 18%;
  top: 400px;
}

/* --- DELETE NOTE BUTTON */

.noteContainer input[type="button"] {
  background-color: #005392;
  color: white;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 16px;
  margin-top: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1;
  position: absolute;
  right: 18%;
  top: 450px;
  
 
}

/* --- RESPONSIVE TWEAKS --- */
 @media only screen and (max-width: 1300px) {

  .noteContainer input[type="submit"]{
    right: 6%;
  }


  .noteContainer input[type="button"] {
    right: 6%;
  }
}
@media only screen and (max-width: 900px) {
.noteContainer input[type="submit"] {
  background-color: #005392;
  color: white;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 16px;
  margin-top: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  border-radius: 5px;
  position: unset !important;
  align-content: center;
  }
}

@media only screen and (max-width: 900px) {
.noteContainer input[type="button"] {
  background-color: #005392;
  color: white;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 16px;
  margin-top: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  position: unset !important;
 
  }
}

.ck-editor__editable > .ck-placeholder::before {
  color: darkgray;
  font-family: "Open Sans", sans-serif; 
}

#editor {
  flex: 1 1 auto;
  padding-top: 25px;
  height: 600px;
  max-width: 70%;
  border: none;
  outline: none;
  box-shadow: none;

}

#title {
  display: block;
  width: 90%;
  border: none;
  outline: none;
  margin-top: 41px;
  font-size: 20px;
  padding: 10px 10px 0px 10px;
  margin-bottom: 0px;
  font-family: "Open Sans", sans-serif;
  transition: background-color var(--transition-delay);
  background-color: var(--background-color);
  color: var(--text-color);
}

#title::placeholder {
  color: rgb(169,169,169);
}

/*FAVORITE CSS*/

#favorite {
  height: 20px;
  width: 20px;
  display: flex;
  float: right; /*Fixa så det inte behövs float + margin-top*/
  margin-top: -50px;
}







/*MODAL WINDOW*/

.bg-modal{
  border: 2px solid black;
  width: 500px;
  height: 350px;
  border-radius: 5px;
  background-color: rgba(68, 65, 65, 0.7);
  opacity: 0.7;
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);display: flex;
  display:none;  
}
.modal-title{
  margin-top: 60px;
  margin-left: 45px;
  font-size: 20px;
  width: 450px;
  font-family: 'Libre Baskerville', serif;
 }



.modal-content-dark  {
  --accent-color: #D0D066;
  --background-color: rgb(98, 96, 96);
  --text-color:rgb(230, 227, 227);
}

.setTitle-dark  {
  --background-color: rgb(98, 96, 96);
  --text-color:rgb(230, 227, 227);
}

.note-list-dark {
  --background-color: rgb(148, 148, 148);
  --text-color: rgb(31, 50, 71);
  box-shadow: 3px 3px 5px rgb(63, 61, 61);
}

.toolbox-dark {
  --background-color: rgb(250, 250, 250);
  --text-color: rgb(26, 43, 61);
  box-shadow: 3px 3px 5px rgb(63, 61, 61);
}




.theme-toggle-button {
  background-color: var(--accent-color);
  color: var(--button-text-color);
  cursor: pointer;
  padding: .5em 1em; 
  border-radius: .3em;
  border: none;
  outline: none;
  transition: var(--transition-delay);
  transform: scale(1);
  border: 4px solid;
  margin-left: 190px;
  margin-top: 80px ;
 
}

 .theme-toggle-button .icon {
  margin: 5px;
}  

.theme-toggle-button:hover,
.theme-toggle-button:focus {
  transform: scale(1.1);
}

.sun-moon-container {
  
  position: absolute;
  pointer-events: none;
  margin-left: 230px; 
  top: 0;
  height: 200px;
  
}

.sun,
.moon {
  position: absolute;
   transition: opacity var(--transition-delay), fill var(--transition-delay);
  width: 30px;
  height: 30px;
  fill: var(--accent-color);
}

.sun {
  top: 5%;
  opacity: 1;
}

 .modal-content-dark .sun {
  opacity: 0;
  align-items: center;
  transform: rotate(180deg);
} 

.moon {
  color: orangered;
  margin-top: 100px;
  bottom: -50%;
  opacity: 0; 

}

.modal-content-dark .moon {
  opacity: 1;
}

.exit{
  color:  #005392;
  position: absolute;
  top: 0;
  margin-top: 10px;
  right: 14px;
  padding: 10px 10px;
  font-weight: bolder;
  font-size: 40px;
  transform: rotate(45deg);
  cursor: pointer;
  
}

.cancel-save-container{
  position: absolute;
  right: 20px;
  padding: 10px 10px;
  margin-top: 35px;
 
}

.save {
	background-color:  #005392;
  border: 0.5px solid black;
	color: white;
	padding: 5px;
  display: inline-block;
  margin-top: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  border-radius: 5px;
}


.save:hover {
  transform: scale(1.1);
		border: 2px solid  #000000;;
	}

.cancel{
  border: 0.5px solid black;
  border: none;
	padding: 5px;
  display: inline-block;
  margin-top: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

 .cancel:hover{
  background-color:  #f5f1f1;
	padding: 5px;
  display: inline-block;
  transform: scale(1.1);
 }

 @media only screen and (max-width: 900px){
   
  .bg-modal{
    width: 250px;
    height: 150px;
    top: 50%;
    left: 50%;
    justify-content: center;
  }
  
  .modal-content{
    height: 120px;
    width: 230px;
 }

 .modal-title{
  display: none;
  
 }
 .cancel-save-container,
 .sun-moon-container{
   display: none;
 }

.theme-toggle-button{
  width: 100px;
  height: 25px;

 
  }
 }  


/*--- INTRO POPUP WINDOW --- */
.intro-popup {
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.intropopup-content {
  background-color: black;
  width: 80%;
  height: 90%;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Libre Baskerville', serif;
  z-index: 1;
  margin: auto;
}

.intropopup-content h1 {  
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 230px;
  color: white;
  margin-top: 4%;
  margin-bottom: 30px;
}

.intropopup-content p { 
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-size: 18px; 
  width: 50%;
  color: white;
  text-align: center;
}

.exitintro {
  padding: 10px 10px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  color: white;
  position: absolute;
  top: 0;
  right: 14px;
}

@media only screen and (max-width: 900px) {


  .intropopup-content h1 {   
    font-style: normal;
    font-weight: bold;
    font-size: 300px;
    color: white;
    margin-top: 0px;
    margin-bottom: 40px;
  }

  .intropopup-content span {
    display: none;
  }

    .intropopup-content p { 
      display: flex;
      width: 60%;  
      font-style: normal;
      font-size: 16px;
      color: white;
      text-align: center;
      padding-top: 0px;
      padding-bottom: 0px;
    } 
  }

  @media only screen and (max-width: 600px) {

  .intropopup-content h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    transform: rotate(-90deg);
    margin-top: 80px;
  }

  .intropopup-content span {
      display: inline;
  }

  .intropopup-content p { 
    font-style: normal;
    font-size: 14px; 
    width: 50%;
    color: white;
    text-align: center;
    padding-top: 70px;
  }
}